<div id="background-wrap">
	<div id="userprofile"></div>

	<div class="x1">
        <div class="cloud"></div>
    </div>
	<div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>
</div>

<a href="/">
	<h1 class="logo">Sidney's Website</h1>
</a>

<ul class="navbar">
	<li>
		<a href="/" title="Home">Home</a>
	</li>
	<li>
		<a href="/about" title="About">About</a>
	</li>
	<li>
		<a href="/experimental" title="Experimental">Experimental Page</a>
	</li>
	<li>
		<a href="/randomiser" title="Randomiser">List Randomiser</a>
	</li>
	<li>
		<a href="/chat" title="Chat">Chat</a>
	</li>
	<li>
		<a href="/other" title="Other">Other Stuff</a>
	</li>
</ul>