<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
  	<% include ../partials/nav.ejs %>
    <!-- If content is available, print content-->
    <% include page %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
