<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>This is a secret webpage!</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/secret/test.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/secret/secret.js"></script>
</head>
<body>
	<div class="border">
		<a href="/">
			<h1 class="logo">Sidney's Website</h1>
		</a>
		<h1 id="secret">You have found the secret webpage!/You have entered the secret hacker portal!</h1>
		<button id="redeem" type="button" class="btn btn-success btn-lg redeem" onclick="redeem()" onkeypres="enterPressCalculate()">Click here to redeem nothing.</button>
	</div>	
	<div class="border1">
		<div class="box">
			<h1 id="text">Don't hover over me!</h1>
			<a id="secretstash" href="/secretstash">Access the secret stash!</a>
		</div>
    </div>
</body>
</html>