html {
	background: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	color: rgb(78,78,78);
}

body {
	padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.logo {
	background: url(../img/sidneyswebsite.gif) no-repeat;
	text-indent: -9999px;
	height: 111px;
	width: 300px;
}

.navbar { /*INCOMPLETE*/
	/*background-color: #eeeeee;*/
	padding: 5px 0px;
  margin: 0px -30px;
	border: 1px solid #cccccc;
	border-radius: 2px;
  padding-left: 26px;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	color: red;
	/*font-size: 22px;*/
	padding: 4px;
}

.navbar a:hover {
	/*background-color: #5cb85c;*/
	/* background color2 is #e5e5e5 */
	color: #e50000;
	text-decoration: none;
	border-bottom: 2px solid #52a552;
}

/*sign in button */
#signinButton {
  float: right;
}

/*sign out button AKA #signoutButtonList*/
#signoutButtonList {
  display: none;
  float: right;
}

#userprofile {
  float: right;
}

#current {
	color: blue;
	/*background-color: #e3e3e3;*/
}

#current:hover {
	color: #0000b2;
	background-color: #e3e3e3;
}


.button {
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

.button:hover {
	color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

form ul {
  list-style-type: none;
  padding-left: 0px;
}

form label {
	display: inline-block;
	width: 150px;
}

input[type="submit"] {
    margin: 0px;
}

/*
blue: #428bca;
green: #5cb85c;
lightblue: #5bc0de ;
yellow: #f0ad4e;
red: #d9534f;
*/

#error {
    color: red;
}

#universe {
    /* The universe takes up all available space */
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    /* The universe is black */
    background-color: black;
    border: 5px yellow dashed;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    
    box-shadow: 0 0 85px yellow;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
    border-color: white;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;
    
    box-shadow: 0 0 20px white;
    
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'glyphiconshalflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'glyphiconshalflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}

#music-controls {
  float: right; 
}

/* FOOTER */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 10vh; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: orange;
  text-align: center;
}

footer p {  
  display: inline-block;
  color: white;
  width: 40vw;
  margin: auto;
  padding: 0px;
  line-height: 10vh;
}

footer button {
  float: right;
  clear: both;
  margin-right: 3vw;
  line-height: 10vh;
}

#message {
  /*for the message box in Other page*/ 
  height: 100px;
  width: 200px;
}

textarea {
  -webkit-appearance: textfield; 
  overflow: scroll;
}

.textarealabel {
  display: inline-table;
  vertical-align: top;
}

footer a {
  text-decoration: none;

}

footer p:hover {
  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}
@-o-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}
@keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}


#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: #00b4ff;
  opacity: 0.4;
  color: #333;
  height: 100vh;
  overflow-x: hidden;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 15s linear infinite;
  -moz-animation: animateCloud 15s linear infinite;
  animation: animateCloud 15s linear infinite;
  
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 15s linear infinite;
  -moz-animation: animateCloud 15s linear infinite;
  animation: animateCloud 15s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */

.cloud {
  background: #fff;
  background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );*/
  
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  
  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 12px 5px rgba(0, 0, 0, 0.3);

  height: 120px;
  position: relative;
  width: 350px;
  display: inline-block;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}

#background-wrap {
  display: none;
}



