.border, #border1, .box, #text {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.logo {
	background: url(/img/sidneyswebsite.gif) no-repeat;
	text-indent: -9999px;
	height: 111px;
	width: 300px;
	margin: auto;
	margin-top: 2vh;
}

body{
	margin-top: 0px;
}

#secret {
	width: 50vw;
	margin: auto;
	font-family: Roboto;
	font-size: 60px;
}

.border {
	border: 5px dashed yellow;
	background-color: #A7A238;
	width: 100vw;
	height: 100vh;
	margin: auto;
	text-align: center;
}

.border1 {
	background-color: #894DAA;
	width: 100vw;
	height: 100vh;
	margin: auto;
	border: 5px dashed pink;
}

.box {
	background-color: #FF9A6C;
	width: 70vw;
	height: 98vh;
	margin: auto;
	border: 1px solid white;
}

.redeem {
	width: 70vh;
	font-size: 30px;
	margin-top: 10vh;
}

#text, #secretstash {
	display: block;
	width: 50vw;
	margin: auto;
	text-align: center;
	font-family: Roboto;
	font-size: 120px;
	color: white;
}




